body {
  background-image: url("https://previews.123rf.com/images/allexxandar/allexxandar1711/allexxandar171100936/90707590-grunge-hawaii-state-flag-hawaii-flag-background-grunge-texture-.jpg");
}

h1 {
  font-size: 75px;
}

.maincontainer {
  width: 90%;
  height: auto;
  background: whitesmoke;
  margin: auto;
  margin-top: 50px;
}

.title {
  height: auto;
  font-family: "Turret Road", cursive;
  text-align: center;
}

.instructions {
  text-align: center;
  height: auto;
  background: rgb(172, 172, 172);
}

.game {
  text-align: center;
  height: auto;
  background: rgb(104, 104, 104);
  padding-bottom: 20px;
}

/* button modify */

.choices {
  border: 1px solid white;
  margin: 5px auto 5px auto;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  width: 20%;
}
